body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

/* HEADER */

.header-section {
    position:absolute;
    background-color: #75965D;
    top: 0;
    left: 0;
    padding: 0 10px;
    width: 100%;
    box-sizing: border-box;
}

.logo img {
    box-sizing: border-box;
    display: flex;
    height: 10%;
    width: 10%;
}

.navlist {
    display: flex;
}

nav{ 
    position: fixed; 
    display: flex; 
    align-items: center; 
    justify-content: space-between; 
    width: 100%; 
    padding: 1rem 10%; 
    z-index: 100; 
    background-color: #75965D; 
} 

nav ul li{ 
    display: inline-block; 
} 

.judul {
    color: rgb(255, 255, 255);
    font-size: 24px;
    padding-left: 1rem;
}

.navbar ul li a{ 
    color: rgb(255, 255, 255); 
    padding: 2rem 2rem; 
    font-size: 15px; 
    font-weight: 600; 
    text-decoration: none;
} 

.navbar ul li a:hover{ 
    color: #495e3a; 
} 

.dropdown p {
    font-size: 15px; 
    font-weight: 600;
    color: white;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.dropdown a {
    display: block;
    color: white;
    text-decoration: none;
    padding: 10px 15px;
}

.dropdown .content {
    padding: 10px 15px;
    display: none;
    position: absolute;
    background-color: #5F784C;
    min-width: 100px;
    box-shadow: 2px 2px 5px hsla(0, 0%, 0%, 0.8);
}

.dropdown:hover .content {
    display: block;
    border-radius: 8px;
}

.dropdown:hover p {
    background-color: transparent;
    border-radius: 8px;
}

.dropdown a:hover {
    border-radius: 8px;
    color: #262c21;
}


/* MAIN CONTENT */
.grid{
    margin-top: 8rem;
}

.fotocard{
    max-width: 80rem;
    margin: 20px auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}


.card {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    overflow: hidden;
}

.card img {
    width: 100%;
    height: auto;
    display: block;
}

.card-description {
    padding: 15px;
}

.card-description h3 {
    margin-top: 0;
}

.card-description p {
    margin-bottom: 0;
}


.logo img {
    box-sizing: border-box;
    display: flex;
    height: 10%;
    width: 10%;
}

.fotosan1{
    background-color: pink;
    margin-bottom: -15rem;
    background-repeat:no-repeat;
    width: auto;
    height: 50rem;
    background-size: 25rem;
    background-image: url(./FKegiatan/santri1.jpeg);
}
