*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
    width: 1400px;
    height: 1029px;
    padding: 0;
    margin: 0;
}

/* HEADER SECTION = NAVBAR */

.header-section {
    position:absolute;
    background-color: #75965D;
    top: 0;
    left: 0;
    padding: 0 10px;
    width: 100%;
    box-sizing: border-box;
}

.logo img {
    box-sizing: border-box;
    display: flex;
    height: 10%;
    width: 10%;
}

.navlist {
    display: flex;
}

nav{ 
    position: fixed; 
    display: flex; 
    align-items: center; 
    justify-content: space-between; 
    width: 100%; 
    padding: 1rem 10%; 
    z-index: 100; 
    background-color: #75965D; 
} 

nav ul li{ 
    display: inline-block; 
} 

.judul {
    color: rgb(255, 255, 255);
    font-size: 24px;
    padding-left: 1rem;
}

.navbar ul li a{ 
    color: rgb(255, 255, 255); 
    padding: 2rem 2rem; 
    font-size: 15px; 
    font-weight: 600; 
    text-decoration: none;
} 

.navbar ul li a:hover{ 
    color: #495e3a; 
} 

.dropdown p {
    font-size: 15px; 
    font-weight: 600;
    color: white;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.dropdown a {
    display: block;
    color: white;
    text-decoration: none;
    padding: 10px 15px;
}

.dropdown .content {
    padding: 10px 15px;
    display: none;
    position: absolute;
    background-color: #5F784C;
    min-width: 100px;
    box-shadow: 2px 2px 5px hsla(0, 0%, 0%, 0.8);
}

.dropdown:hover .content {
    display: block;
    border-radius: 8px;
}

.dropdown:hover p {
    background-color: transparent;
    border-radius: 8px;
}

.dropdown a:hover {
    border-radius: 8px;
    color: #262c21;
}

/* FIRST SECTION = BACKGROUND */

.first-section p {
    position: absolute;
    font-size: 60px;
    justify-content: center;
    justify-items: center;
    text-align: center;
    align-items: center;
    display: flex; 
    flex-direction: column;
    margin-top: -400px;
    color: #fff;
    margin-left: 500px;
}

.background p {
    color: #FFF;
    text-align: center;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-size: 70px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.background p br {
    color: #FFF;
    text-align: center;
    font-size: 90px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

#slider-container {
    width: 100%;
    overflow: hidden;
}

#image-slider {
    display: flex;
    transition: transform 0.7s ease-in-out;
}

.slide {
    min-width: 100%;
    overflow: hidden;
}

.slide img {
    width: 100%;
    height: auto;
}

/* SECTION 2 = TENTANG KAMI */
.two-sided-layout {
    display: flex;
    width: 100%;
    overflow: hidden;
}
/* Sisi kiri (teks) */
.left-side {
    flex: 1;
    background-color: #ffffff;
    padding: 20px;
}
/* Sisi kanan (gambar) */
.right-side {
    flex: 1;
    background-color: #ffffff;
    text-align: center;
    padding: 20px;
}
/* Style untuk gambar */
.image {
    max-width: 100%;
    max-height: 100%;
}

/* THIRD SECTION = HADIST */
.image-text-container {
    display: flex;
    align-items: center;
    margin: 20px;
    background-color: #E1E9D5;
}

/* Style untuk gambar */
.image {
    max-width: 100%;
    max-height: 100%;
    margin: 10px;
}

/* Style untuk teks */
.text {
    font-size: 28px;
    margin: 0 20px;
}

/* FOURTH SECTION = VISI MISI */
.fourth-section {
    background-color: #819468;
}

.lesson-wrapper {
    height: 100%;
    padding-bottom: 80px;
    text-align: center;
}


.lesson {
    width: 25%;
}

.lesson-icon {
    position: relative;
}


.lesson-icon p {
    position: absolute;
    top: 90px;
    font-size: 48px;
    width: 100%;
    color: white;
}

.txt-contents {
    text-align: center;
    width: 80%;
    display: inline-block;
    margin-top: 20px;
    font-size: 28px;
    color: #FFF;
}

/* FIFTH SECTION = MATERI PEMBELAJARAN */
.fifth-section {
    background-color: #FFF;
}

.program-container {
    height: 500px;
    background-color: #ffffff;
}

.main-container {
    height: 500px;
    padding-bottom: 80px;
    background-color: #f7f7f7;
    /* Ubah property text-align ke center */
    text-align: center;
}

.heading {
    padding-top: 60px;
    padding-bottom: 30px;
    color: #5f5d60;
}

.heading h2 {
    font-weight: normal;
}

.main-content {
    float: left;
    width: 25%;
}

.main-icon {
    position: relative;
}

.main-icon p {
    position: absolute;
    top: 90px;
    width: 100%;
    color: white;
}

.txt-main {
    width: 80%;
    display: inline-block;
    margin-top: 20px;
    font-size: 15px;
    color: #b3aeb5;
}

/* FOOTER SECTION = FOOTER*/
.footer-section {
    background-color: #75965D;
    top: 0;
    left: 0;
    width: 100%;
    box-sizing: border-box;
    display: inline-block; 
}

.aside1 {
    margin: 30px;
}

.aside1 .info {
    margin: 10px 0;
}

.aside1 ul li {
    list-style: none;
}

.info P {
    padding: 2px 12px;
    color: #fff;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    justify-content: center;
}

.aside2 img {
    margin: 30px;
    width: 130px;
    height: 130px;
    justify-content: center;
    justify-self: center;
    justify-items: center;
    align-items: center;
    align-self: center;
    align-content: center;
}

.aside3 {
    color: #fff;
    margin: 10px;
}

.aside3 p {
    color: #fff;
    font-size: 20px;
    font-style: normal;
    padding: 10px;
}

.copyright {
    color: #fff;
    text-align: center;
    align-items: center;
    font-size: 18px;
    padding: 15px;
}

